Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Google\ Drive/
Library/
Movies/
Music/
Pictures/
Public/
Sites/
.CFUserTextEncoding
.DS_Store
.Trash/
.adobe/
.bash_history
.bash_logout
.bash_profile.macports*
.cache
.config
.dropbox/
.gem
.lesshst
.macports/
.mysql_history
.neocon/
.spf13-vim-3/
.ssh/
.twitvim.token
.vim/
.vimbackup/
.viminfo
.vimrc
.vimrc.bundles*
.vimrc.fork*
.vimswap/
.vimundo/
.vimviews/
*.gz
*.zip
*.tar
*.pdf
.vimrc.local.twitvim
