[user]
	name = Christopher Howie
	email = howiecha@msu.edu
[core]
	editor = vim
	excludesfile = /Users/chris/.gitignore_global
[color]
	ui = true
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[credential]
	helper = osxkeychain
[alias]
    report="log --since='2 monday ago' --until='today' --format='%Cgreen%ci%Creset %an %s%Creset %N' --shortstat"
    report-csv="log --since='2 monday ago' --until='today' --format='\"%Cgreen%ci%Creset\",\"%an\",\"%s%Creset\"'"
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
